#main {
    margin: 20px;
    height: 600px;
    width: 600px;
    box-sizing: content-box;
}

#tempo {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 30px;
    color: black;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: grey;
    color: black;
    height: 30px;
    width: 30px;
    font-size: 15px;
    z-index: 0;
}

#um {
    top: 360px;
    left: 300px;
}

#dois {
    top: 100px;
    left: 250;
}

#tres {
    top: 350px;
    left: 110px;
}

#quatro {
    top: 200px;
    left: 180px;
}

#cinco {
    top: 250px;
    left: 70px;
}

#seis {
    top: 150px;
    left: 90px;
}

#sete {
    top: 420px;
    left: 140px;
}

#oito {
    top: 390px;
    left: 260px;
}

#nove {
    top: 300px;
    left: 160px;
}

#dez {
    top: 130px;
    left: 280px;
}

#instrucoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    text-align: center;
    padding: 20px;
    border-radius: 2em;
    width: 500px;
    height: 500px;
    z-index: 1;
    position: relative;
}

#iniciar {
    width: 100px;
    align-self: center;
}